.newsletter-section {
  padding: 4rem 2rem;
  background-color: #021556;
  color: #fff;
  text-align: center;
}

.newsletter-section h2 {
  margin-top: 0;
}

.newsform {
  max-width: 600px;
  margin: auto;
}

.newsform input {
  padding: 0.75rem 1rem;
  background-color: #142e89 !important;
  border: none;
  color: white;
  margin-right: 0;
  width: 70%;
  font-size: 1.25rem;
  font-weight: bolder;
}

.newsform button {
  padding: 0.75rem 1rem;
  background-color: #000;
  border: none;
  color: #fff;
  margin-left: 0;
  width: 30%;
  font-size: 1.25rem;
}

.newsform input::placeholder {
  color: #6070ff;
}
