.features-section {
  padding: 12rem 4rem;
  background-color: #213a92;
  color: #fff;
  text-align: center;
}
.features-section h2 {
  text-align: center;
  font-weight: bolder;
}

.features-section .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 600px) {
  .features-section {
    padding: 4rem 4rem;
  }

  .features-section .content {
    grid-template-columns: 1fr;
  }
}
